body {
    padding: 20px 20px 20px 20px;
    background: grey;
}

h1 {
    color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin: 10px 0 20px 0;
    color: lightblue;
    padding: 6px 3px 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    margin: 20px 0 0 0;
    border-bottom: 1px solid #cccccc;
    color: lightblue;
    padding-bottom: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    padding-left: 0;
    margin: 5px 0 20px 0;
    list-style-type: none;
    text-align: center;
}

.nav a {
    font-family: Arial, Helvetica, sans-serif;
}

.nav li {
    display: inline;
}

.header {
    padding: 10px 10px 10px 10px;
    background-color: black;
}

.header a, h1 {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

.konten-utama {
    width: 500px;
    border: 1px solid #dddddd;
    margin: 30px auto 0 auto;
    padding: 0 15px 0 15px;
    background: white;
    box-shadow:
    0 0 2px aqua,
    0 0 4px aqua,
    0 0 8px aqua;
}

.konten-utama p {
    font-family: Arial, Helvetica, sans-serif;
}